@import url(https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&family=Space+Mono:ital@0;1&display=swap);
@import url(https://use.fontawesome.com/releases/v6.1.2/css/all.css);
body {
  font-family: "Space Mono";
  background: white;
  color: #2E0249;
  text-align: center;
  padding: 30px;
  width: 600px;
  height: 750px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
}
.lien-wagon {
  text-decoration: none;
  background: #BA6E6E;
  color: white;
  padding-left: 0;
  padding: 10px;
  border-radius : 10px;
  border: 1px solid #570A57;
  transition: 0.4s ease;
  }
  .lien-wagon:hover {
  text-decoration: none;
  background: #2fc02a;
  color: white;
  padding-left: 0;
  padding: 10px;
  border-radius : 10px;
  border: 1px solid #570A57;
  transition: 0.4s ease;
  }
#profile-pic {
  padding-left: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.url {
  font-family: "Space Mono";
  background: white;
  color: #050505;
  font-size: 30px;
  padding-left: 0;
  margin: 55px 20px;
  border-radius: 40px;
  border: 2px solid #570A57;
  height: 200px;
  line-height: 10px;
  width: 550px
}
.fa-brands {
  color: #050505;
  text-decoration: none;
  transition: 0.4s ease;
}
.fa-brands:hover {
  color: #6B72E1;
  text-decoration: none;
  transition: 0.4s ease;
}
